<div class = "navbar navbar-inverse" role = "navigation">
    <div class = "container-fluid">
        <div class = "navbar-header" style = "background-color: black">
            <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
                <span class = "sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class = "navbar-brand" href = "/">SPEED PITCHING</a>
        </div>
        <div class = "navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('main.profile',username=current_user.username)}}">Profile</a></li>
                        <li><a href="{{url_for('main.add_pitch', username = current_user.username)}}">Add Pitch</a></li>
                        <li><a href="{{url_for('auth.logout')}}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{url_for('auth.login')}}">Log In</a></li>
                        {%endif%}
                      </ul>
        </div>
          
    </div>
</div>